<app-header [title]="'card'" [color]="'primary'"></app-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item color="success">
            <ion-icon slot="start" name="car-outline"></ion-icon>
            <ion-label>Apple flag</ion-label>
        </ion-item>
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat qui rem incidunt doloremque.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-img [src]="'https://st4.depositphotos.com/2480945/i/600/depositphotos_267516094-stock-photo-mountainscape-grindelwald-switzerland-pretty-swiss.jpg'"></ion-img>
        <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod neque nam provident, vel repellendus non eveniet expedita veniam laudantium impedit earum adipisci. Necessitatibus distinctio modi voluptatem dolore qui inventore ipsa dolores voluptate facilis?
        </ion-card-content>
    </ion-card>

</ion-content>